@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 10px;
  font-family: "MedievalSharp";
}

.subHeader {
  display: flex;
  justify-content: space-between;
}

.allCountries {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px black;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
  transition: ease 200ms;
}

.country:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  transition: ease 200ms;
}
